@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-input-border: var(--input-border);
  --color-input-background: var(--input-background);
  --color-input-ring: var(--input-ring);
}

:root {
  --background: theme(colors.white);
  --foreground: theme(colors.black);
  --primary: theme(colors.black);
  --primary-foreground: theme(colors.white);
  --muted: theme(colors.zinc.300);
  --muted-foreground: theme(colors.zinc.700);
  --destructive: theme(colors.red.600);
  --destructive-foreground: theme(colors.white);
  --info: theme(colors.blue.600);
  --info-foreground: theme(colors.white);
  --success: theme(colors.green.600);
  --success-foreground: theme(colors.white);
  --warning: theme(colors.yellow.600);
  --warning-foreground: theme(colors.white);
  --card: theme(colors.zinc.50);
  --card-foreground: theme(colors.zinc.950);
  --border: theme(colors.zinc.300);
  --input-border: theme(colors.zinc.500);
  --input-background: theme(colors.zinc.50);
  --input-ring: theme(colors.blue.500);
  --scrollbar-thumb: theme(colors.zinc.400);
  --scrollbar-track: theme(colors.zinc.200);
}

.dark {
  --background: theme(colors.zinc.900);
  --foreground: theme(colors.white);
  --primary: theme(colors.white);
  --primary-foreground: theme(colors.black);
  --muted: theme(colors.zinc.700);
  --muted-foreground: theme(colors.zinc.300);
  --destructive: theme(colors.red.900);
  --destructive-foreground: theme(colors.white);
  --info: theme(colors.blue.900);
  --info-foreground: theme(colors.white);
  --success: theme(colors.green.900);
  --success-foreground: theme(colors.white);
  --warning: theme(colors.yellow.900);
  --warning-foreground: theme(colors.white);
  --card: theme(colors.zinc.950);
  --card-foreground: theme(colors.zinc.50);
  --border: theme(colors.zinc.700);
  --input-border: theme(colors.zinc.500);
  --input-background: theme(colors.zinc.800);
  --input-ring: theme(colors.blue.500);
  --scrollbar-thumb: theme(colors.zinc.800);
  --scrollbar-track: theme(colors.zinc.950);
}

.lucide {
  stroke-width: 1.5px;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}
